@model WebXmlApp.Models.CustomerAndFullAddressResponse.CustomerContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.CustomerID)</h4>
    <hr />
    <dl class="row">       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
